[Desktop Entry]
Name=IM Contacts
Name[ca]=Contactes de MI
Name[cs]=Kontakty IM
Name[da]=IM-kontakter
Name[de]=IM-Kontakte
Name[en_GB]=IM Contacts
Name[es]=Contactos de MI
Name[fi]=Pikaviestinkäyttäjät
Name[fr]=Contacts de messagerie instantanée
Name[hu]=Azonnali üzenetküldési partnerek
Name[ia]=IM Contacts (Contactos de  IM)
Name[it]=Contatti di MI
Name[ko]=IM 대화 상대
Name[nds]=KN-Kontakten
Name[nl]=IM-contactpersonen
Name[pl]=Kontakty komunikatorów internetowych
Name[pt]=Contactos de MI
Name[pt_BR]=Contatos de mensagens instantâneas
Name[sk]=IM kontakty
Name[sl]=Stiki hipnega sporočanja
Name[sr]=ИМ контакти
Name[sr@ijekavian]=ИМ контакти
Name[sr@ijekavianlatin]=IM kontakti
Name[sr@latin]=IM kontakti
Name[sv]=Direktmeddelandekontakter
Name[tr]=Anlık Mesajlaşma Kişileri
Name[uk]=Список контактів
Name[x-test]=xxIM Contactsxx
Name[zh_TW]=即時訊息聯絡人
GenericName=Instant Messenger Contacts
GenericName[bs]=Kontakti za instant poruke
GenericName[ca]=Contactes de missatgeria instantània
GenericName[ca@valencia]=Contactes de missatgeria instantània
GenericName[cs]=Kontakty IM
GenericName[da]=Instant messaging-kontakter
GenericName[de]=Instant-Messenger-Kontakte
GenericName[el]=Επαφές εφαρμογής στιγμιαίων μηνυμάτων
GenericName[en_GB]=Instant Messenger Contacts
GenericName[es]=Contactos de mensajería instantánea
GenericName[et]=Kiirsuhtluskontaktid
GenericName[fi]=Pikaviestiyhteystiedot
GenericName[fr]=Contacts de messagerie instantanée
GenericName[ga]=Teagmhálacha do Theachtaireachtaí Meandaracha
GenericName[gl]=Contactos da mensaxería instantánea
GenericName[hu]=Azonnali üzenetküldő partnerek
GenericName[ia]=Contactos de Messagero Instantanee
GenericName[it]=Contatti di messaggistica istantanea
GenericName[kk]=Лезде хабарласу контакттар
GenericName[km]=ទំនាក់ទំនង​​កម្មវិធី​ផ្ញើ​សារ​បន្ទាន់
GenericName[ko]=인스턴트 메신저 대화 상대
GenericName[lt]=Tiesioginio pranešimo kontaktai
GenericName[mr]=त्वरित संदेशवाहक संपर्क
GenericName[nb]=Lynmeldingskontakter
GenericName[nds]=Kortnarichtenkontakten
GenericName[nl]=Contacten van Instant messenger
GenericName[pa]=ਤੁਰੰਤ ਸੁਨੇਹੇ ਸੰਪਰਕ
GenericName[pl]=Kontakty komunikatora internetowego
GenericName[pt]=Contactos de Mensagens Instantâneas
GenericName[pt_BR]=Contatos do Mensageiro Instantâneo
GenericName[ro]=Contacte de mesagerie instantanee
GenericName[ru]=Контакты для обмена сообщениями
GenericName[sk]=Kontakty instant messagingu
GenericName[sl]=Stiki hipnega sporočilnika
GenericName[sr]=Брзогласнички контакти
GenericName[sr@ijekavian]=Брзогласнички контакти
GenericName[sr@ijekavianlatin]=Brzoglasnički kontakti
GenericName[sr@latin]=Brzoglasnički kontakti
GenericName[sv]=Direktmeddelandekontakter
GenericName[tr]=Anında Mesajlaşma Kişileri
GenericName[uk]=Контакти служб обміну повідомленнями
GenericName[wa]=Soçons do messaedjî sol moumint
GenericName[x-test]=xxInstant Messenger Contactsxx
GenericName[zh_CN]=即时通讯联系人
GenericName[zh_TW]=即時訊息聯絡人
Comment=Displays your instant messenger contacts
Comment[bs]=Prikazuje kontakte programa za instant poruke
Comment[ca]=Mostra els vostres contactes de missatgeria instantània
Comment[ca@valencia]=Mostra els vostres contactes de missatgeria instantània
Comment[cs]=Zobrazuje vaše IM kontakty
Comment[da]=Viser dine instant messaging-kontakter
Comment[de]=Zeigt Ihre Instant-Messenger-Kontakte an
Comment[el]=Εμφανίζει τις επαφές σας της εφαρμογής στιγμιαίων μηνυμάτων
Comment[en_GB]=Displays your instant messenger contacts
Comment[es]=Muestra sus contactos de mensajería instantánea
Comment[et]=Sinu kiirsuhtlusrakenduse kontaktide näitamine
Comment[fi]=Näyttää pikaviestiyhteystietosi
Comment[fr]=Affiche vos contacts de messagerie instantanée
Comment[ga]=Taispeánann sé do chuid teagmhálacha teachtaireachtaí meandaracha
Comment[gl]=Mostra os seus contactos de mensaxería instantánea
Comment[hu]=Megjeleníti az azonnali üzenetküldő partnereit
Comment[ia]=Monstra tu contactos de messagero instantanee
Comment[it]=Mostra i tuoi contatti di messaggistica istantanea
Comment[kk]=Лезде хабарласу контакттарыңызды көрсету
Comment[km]=បង្ហាញ​​ទំនាក់ទំនង​កម្មវិធី​ផ្ញើ​សារ​បន្ទាន់​របស់​អ្នក
Comment[ko]=인스턴트 메신저 대화 상대 표시
Comment[lt]=Rodo jūsų tiesioginio pranešimo kontaktus
Comment[mr]=तुमचे त्वरित संदेशवाहक संपर्क दर्शवितो
Comment[nb]=Viser dine lynmeldingskontakter
Comment[nds]=Wiest Dien Kortnarichtenkontakten
Comment[nl]=Contacten van Instant messenger tonen
Comment[pa]=ਆਪਣੇ ਤੁਰੰਤ ਸੁਨੇਹੇ ਸੰਪਰਕ ਵੇਖਾਓ
Comment[pl]=Wyświetla twoje kontakty komunikatora internetowego
Comment[pt]=Mostrar os seus contactos das mensagens instantâneas
Comment[pt_BR]=Mostrar os contatos do seu mensageiro instantâneo
Comment[ro]=Afișează contactele demesagerie instantanee
Comment[ru]=Список контактов для обмена сообщениями
Comment[sk]=Zobrazí vaše kontakty instant messagingu
Comment[sl]=Prikaže stike vašega hipnega sporočilnika
Comment[sr]=Приказује ваше брзогласничке контакте
Comment[sr@ijekavian]=Приказује ваше брзогласничке контакте
Comment[sr@ijekavianlatin]=Prikazuje vaše brzoglasničke kontakte
Comment[sr@latin]=Prikazuje vaše brzoglasničke kontakte
Comment[sv]=Visar dina direktmeddelandekontakter
Comment[tr]=Anında mesajlaşma kişilerinizi görüntüler
Comment[ug]=مۇڭداشقۇدىكى ئالاقەداشلارنى كۆرسىتىش پروگراممىسى
Comment[uk]=Показ записів контактів вашої програми для миттєвого обміну повідомленнями
Comment[wa]=Håynêye vos soçons do messaedjî sol moumint
Comment[x-test]=xxDisplays your instant messenger contactsxx
Comment[zh_CN]=显示您的即时通讯联系人
Comment[zh_TW]=顯示您的即時訊息聯絡人
Exec=ktp-contactlist %u
Type=Application
Terminal=false
Icon=telepathy-kde
Categories=Qt;KDE;Network;InstantMessaging;
X-DBUS-StartupType=Unique
X-KDE-ServiceTypes=DBUS/InstantMessenger
