[Desktop Entry]
Name=Telepathy Contact List
Name[nds]=Telepathy-Kontaktenlist
Name[nl]=Contactenlijst van Telepathy
Name[pt]=Lista de Contactos do Telepathy
Name[sv]=Telepathy kontaktlista
Name[uk]=Список контактів Telepathy
Name[x-test]=xxTelepathy Contact Listxx
GenericName=Instant Messenger Contacts
GenericName[nl]=Contacten van Instant messenger
GenericName[pt]=Contactos de Mensagens Instantâneas
GenericName[sv]=Direktmeddelandekontakter
GenericName[uk]=Контакти служб обміну повідомленнями
GenericName[x-test]=xxInstant Messenger Contactsxx
Comment=Displays your instant messenger contacts
Comment[nl]=Contacten van Instant messenger tonen
Comment[pt]=Mostrar os seus contactos das mensagens instantâneas
Comment[sv]=Visar dina direktmeddelandekontakter
Comment[uk]=Показ записів контактів вашої програми для миттєвого обміну повідомленнями
Comment[x-test]=xxDisplays your instant messenger contactsxx
Exec=telepathy-kde-contactlist %u
Type=Application
Terminal=false
Icon=telepathy
Categories=Qt;KDE;Network;InstantMessaging;
X-DBUS-StartupType=Unique
X-KDE-ServiceTypes=DBUS/InstantMessenger
