[Desktop Entry]
Name=Telepathy Contact List
GenericName=Instant Messenger Contacts
Comment=Displays your instant messenger contacts
Exec=telepathy-kde-contactlist %u
Type=Application
Terminal=false
Icon=telepathy
Categories=Qt;KDE;Network;InstantMessaging;
X-DBUS-StartupType=Unique
X-KDE-ServiceTypes=DBUS/InstantMessenger
